@import "../../Components/Styles/dashui";

.accountHistory {
  background: $background;
  color: $color;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
