@import "../../Components/Styles/dashui";

.accountHistory {
  background: $background;
  color: $color;
  min-height: 100vh;
  min-width: 100vw;
  .accounts {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
    gap: $gap;
    .account {
      background-color: rgba($color: #000000, $alpha: 0.3);
      width: min-content;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.1s ease;
      &:hover {
        transform: scale(110%);
      }
    }
  }
  .clear {
    border-radius: 10px;
    z-index: 1000;
    transition: transform 0.1s ease;
    &:hover {
      transform: scale(110%);
    }
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border: none;
    background-color: rgba($color: red, $alpha: 0.9);
    color: $color;
    font-size: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .accountHistory {
    .accounts {
      margin-left: 60px;
    }
  }
}

