@import "../../Components/Styles/DashUI/mixins/dashuimixin";
@import "../../Components/Styles/DashUI/mixins/cardmixin";
@import "../../Components/Styles/DashUI/variables";

div.dashboard {
	margin-left: 50px;
	padding: 10px;
	min-height: calc(100vh - 20px);
	max-width: calc(100vw - 50px);
	background-image: $background;

	.dashboardContainer {
		display: flex;
		flex-wrap: wrap;
		gap: $gap;
		margin-left: 10px;
	}

	@include dashui;
	@include card;
}

div.generalInfo {
	position: absolute;
	bottom: 5px;
	right: 5px;
	text-align: right;
	color: $color;
}

@supports not (gap: 15px) {
	div.dasboard > * {
		margin: 15px;
	}
}

@media only screen and (max-width: 600px) {
	.generalInfo {
		display: none;
	}
	div.dashboard {
		flex-direction: column;
		justify-content: space-evenly;
		gap: 0;
		& > * {
			width: 200px;
			margin: 0;
			text-align: left;
		}
	}
	div.altsNum {
		top: 10px;
		right: 10px;
	}
}
