@import "../Styles/dashui";

.Tooltip {
	position: fixed;
	color: $color;
	background-color: rgba($color: #000000, $alpha: 0.5);
	padding: 2px;
	border-radius: 5px;
	&::before {
		content: "";
		display: inline-block;
		border-radius: 0px;
		padding: 0;
		position: relative;
		left: -11.7px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;

		border-right: 10px solid rgba($color: #000000, $alpha: 0.5);
	}
}
